@font-face {
  font-family: 'Orbitron';
  src: url('../src/fonts/Orbitron-Regular.ttf') format('truetype'); /* adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron-ExtraBold';
  src: url('../src/fonts/Orbitron-ExtraBold.ttf') format('truetype'); /* adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PressStart2P';
  src: url('../src/fonts/PressStart2P-Regular.ttf') format('truetype'); /* adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitanOne';
  src: url('../src/fonts/TitanOne-Regular.ttf') format('truetype'); /* adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body{
  margin-left: 0px;
  /* background-color: rgba(224,224,224, 0.3); */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background-color: rgba(39,39,39);
  /* background-image: radial-gradient(circle, rgba(255,255,255,0.2) 20%, rgba(255,255,255,0) 100%), linear-gradient(45deg, #FA0800, #ff3333);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */

}



.navbar{
  display:flex;
  justify-content: flex-end;
  background-color:  whitesmoke;
  align-items: center;
  height:50px;

  position:fixed;
  top:0;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgba(39,39,39);
  font-weight: 700;
  z-index: 2;

  border-bottom-color: rgba(214, 40, 40, 1);
  border-bottom-style: solid;

}

.navcontent {
  font-family: "PressStart2P";
  font-size: 10px;
  margin-right: 50px;
  cursor: pointer;
  padding-top:15px;
  padding-bottom: 15px;
  padding: 10px;
  /* border-color: rgba(39,39,39); */
  transition: all 0.3s ease-in-out;
}

.navcontent:hover {
  background-color: rgba(39,39,39);
  outline: 10px solid rgba(39,39,39);
  color: rgba(214, 40, 40, 1);
  font-weight: 1000px;
}


.main-content{
  margin-top: 90px;
}

.profile-img{
  margin-top:-32%;
  margin-left:870px;
  position: relative;
  display: flex;
  justify-content: center;
  
  border-top-left-radius: 15px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 70px;
  border-left-color: rgba(39,39,39);
  border-bottom-color: rgba(39,39,39);
  border-right-color:rgba(245, 243, 243);
  border-top-color:rgb(245, 243, 243);
  border-style: solid;
  border-width: 10px;

  z-index: 1;
}

.profile-odd{
  margin-bottom: 70px;
  margin-right: 40px;
  margin-left:40px;
  height: 500px;

  overflow-x:auto ;
  border-radius: 10px;
  color:antiquewhite;
  font-weight: 700;

  background-color: rgba(214, 40, 40, 1);
  /* background-color: rgba(0, 62, 255, 1); */
  /* border-color: whitesmoke;
  border-style: solid; */
  box-shadow: 0px 0px 8px 4px whitesmoke;
}

.profile-odd h1{
  font-family: "Orbitron-ExtraBold", sans-serif;
  color: rgba(39,39,39);
  width: 350px;
  height: 40px;
  padding-left: 45px;
  position: relative;
  background-color: antiquewhite;
  border-bottom: 2px solid rgba(39,39,39);
}
.profile-odd h1::before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 40px solid antiquewhite;
  border-right: 20px solid transparent;
}

.profile-odd p{
  font-family: "Orbitron";
  font-weight: bolder;
  font-size: 14px;
  margin-left: 50px;
  margin-right: 550px;
  font-weight: 10px;
  word-spacing: 5px;
  text-align: justify;
  letter-spacing: 2px;
}


.profile-even{
  margin-bottom: 70px;
  margin-right: 40px;
  margin-left:40px;
  height: 500px;

  overflow-x:auto ;
  border-radius: 10px;
  background-color:  rgba(48,48,54);
  color: whitesmoke;
  font-weight: 700;
  text-shadow: 0, 0, 0.3rem;

  /* border-color: rgba(214, 40, 40, 1);
  border-style: solid;
  border-width: 3px; */

  box-shadow: 0px 0px 8px 4px rgba(214, 40, 40, 1);
}

.profile-even h1{
  font-family: "Orbitron-ExtraBold", sans-serif;
  color: antiquewhite;
  width: 350px;
  height: 40px;
  padding-left: 45px;
  position: relative;
  background-color: rgba(214, 40, 40, 1);
  border-bottom: 2px solid antiquewhite;
}

.profile-even h1::before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 40px solid rgba(214, 40, 40, 1);
  border-right: 20px solid transparent;
}

.profile-even p{
  font-family: "Orbitron";
  font-size: 14px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 10px;
  word-spacing: 5px;
  text-align: justify;
  letter-spacing: 2px;
}

.profile-icons {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  
}

@keyframes moveFerrisWheel {
  0% {
    transform: rotate(0deg) translate(125px) rotate(0deg);
  }

  12.5% {
    transform: rotate(45deg) translate(125px) rotate(-45deg);
  }

  25% {
    transform: rotate(90deg) translate(125px) rotate(-90deg);
  }

  37.5% {
    transform: rotate(135deg) translate(125px) rotate(-135deg);
  }

  50% {
    transform: rotate(180deg) translate(125px) rotate(-180deg);
  }

  62.5% {
    transform: rotate(225deg) translate(125px) rotate(-225deg);
  }

  75% {
    transform: rotate(270deg) translate(125px) rotate(-270deg);
  }

  87.5% {
    transform: rotate(315deg) translate(125px) rotate(-315deg);
  }

  100% {
    transform: rotate(360deg) translate(125px) rotate(-360deg);
  }
}

.profile-icons-content:nth-child(1) {
  animation-delay: 0s;
}

.profile-icons-content:nth-child(2) {
  animation-delay: 0.25s;
}

.profile-icons-content:nth-child(3) {
  animation-delay: 0.5s;
}

.profile-icons-content:nth-child(4) {
  animation-delay: 0.75s;
}

.profile-icons-content:nth-child(5) {
  animation-delay: 1s;
}

.profile-icons-content:nth-child(6) {
  animation-delay: 1.25s;
}

.profile-icons-content:nth-child(7) {
  animation-delay: 1.5s;
}

.profile-icons-content:nth-child(8) {
  animation-delay: 1.75s;
}

.profile-icons-content:nth-child(9) {
  animation-delay: 2s;
}

.img-container{
  margin-top:-30%;
  margin-left:870px;
  position: relative;
  display: flex;
  justify-content: center;

}

.img-profile{
  position: absolute;
  width: 350px;
  height: 375px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 70px;
  border-left-color: rgba(0, 0, 0, 0.55);
  border-bottom-color: rgba(0, 0, 0, 0.55);
  border-right-color:rgba(0, 0, 0, 0.55);
  border-top-color:rgba(0, 0, 0, 0.55);
  border-style: solid;
  border-width: 10px;
}

.img-profile:nth-child(1){
  top:  10px;
  left: -90px;
  background-color: rgba(0, 0, 0, 0.7);
  border-style: hidden;

  width: 360px;
  height: 385px;
}

.img-profile:nth-child(2){
  top:  1px;
  left: -80px;
  background-color: antiquewhite;
  border-style: hidden;

  width: 360px;
  height: 385px;
}

.img-profile:nth-child(3){
  top: -20px;
  left: -70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-img{
  margin-top:-32%;
  margin-left:870px;
  position: relative;
  display: flex;
  justify-content: center;
  
  border-top-left-radius: 15px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 70px;
  border-left-color: rgba(39,39,39);
  border-bottom-color: rgba(39,39,39);
  border-right-color:rgba(245, 243, 243);
  border-top-color:rgb(245, 243, 243);
  border-style: solid;
  border-width: 10px;

  z-index: 1;
}


@media(max-width: 900px){

.navicon{
    color: whitesmoke;
    background-color: rgba(39,39,39);
    font-size: 40px;

    display:flex;
    justify-content: flex-start;

    position:fixed;
    top:0px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 2;
    padding-left: 370px; 
    padding-top: 5px;   
}

.navbar{
display: none;
}

.img-container{
  display: none;
}

.profile-odd{
  overflow-y: hidden;
  overflow-x: hidden;

  margin-bottom: 70px;
  margin-right: 10px;
  margin-left: 10px;
  height: 600px;
}

.profile-odd h1{
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: -20px;

  width: 210px;
  height: 30px;
  font-size: 20px;
}

.profile-odd h1::before {
  border-top: 30px solid antiquewhite;
}

.profile-odd p{
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 10px;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: justify;

  font-size: 12px;
}

.profile-even{
  overflow-y: hidden;
  overflow-x: hidden;

  margin-bottom: 70px;
  margin-right: 10px;
  margin-left: 10px;
  height: 600px;
}

.profile-even h1{
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: -20px;

  width: 210px;
  height: 30px;
  font-size: 20px;
}

.profile-even h1::before {
  border-top: 30px solid rgba(214, 40, 40, 1);
}

.profile-even p{
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 10px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: justify;
  
  font-size: 12px;
}

.profile-icons {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  
}


}



